<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须对应你的 Mapper 接口全限定名 -->
<mapper namespace="com.elves.wallpaper.mapper.AuthMapper">

    <resultMap id="AuthResultMap" type="com.elves.wallpaper.model.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="avatar" column="avatar"/>
        <result property="nickname" column="nickname"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insert" parameterType="com.elves.wallpaper.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password,nickname,avatar)
        values(#{username}, #{password}, #{nickname}, #{avatar})
    </insert>

</mapper>