<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须对应你的 Mapper 接口全限定名 -->
<mapper namespace="com.elves.wallpaper.mapper.WallpaperMapper">

    <!-- 定义一个 resultMap (推荐做法，用于处理字段名和属性名不一致的情况) -->
    <resultMap id="WallpaperResultMap" type="com.elves.wallpaper.model.Wallpaper">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="category" column="category"/>
        <result property="thumbnailUrl" column="thumbnail_url"/>
        <result property="fileUrl" column="file_url"/>
        <result property="hits" column="hits"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <update id="updateHitCount">
        update wallpaper
        set hits = hits + #{offset}
        where id = #{wallpaperId}
    </update>

    <!-- 查询所有壁纸 -->
    <select id="findAll" resultMap="WallpaperResultMap">
        SELECT
            id,
            title,
            description,
            category,
            thumbnail_url,
            file_url,
            hits,
            create_time
        FROM wallpaper
    </select>


</mapper>