<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须对应你的 Mapper 接口全限定名 -->
<mapper namespace="com.elves.wallpaper.mapper.WallpaperMapper">

    <!-- 定义一个 resultMap (推荐做法，用于处理字段名和属性名不一致的情况) -->
    <resultMap id="WallpaperResultMap" type="com.elves.wallpaper.model.Wallpaper">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="category" column="category"/>
        <result property="thumbnailUrl" column="thumbnail_url"/>
        <result property="fileUrl" column="file_url"/>
        <result property="hits" column="hits"/>
        <result property="createTime" column="create_time"/>
        <result property="unsplashId" column="unsplash_id"/>
        <result property="photographer" column="photographer"/>
        <result property="photographerUrl" column="photographer_url"/>
        <result property="downloadUrl" column="download_url"/>
        <result property="sourceUrl" column="source_url"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>
        <result property="color" column="color"/>
    </resultMap>

    <update id="updateHitCount">
        update wallpaper
        set hits = hits + #{offset}
        where id = #{wallpaperId}
    </update>

    <!-- 查询所有壁纸 -->
    <select id="findAll" resultMap="WallpaperResultMap">
        SELECT
            id,
            title,
            description,
            category,
            thumbnail_url,
            file_url,
            hits,
            create_time
        FROM wallpaper
    </select>

    <select id="searchByKey" resultType="com.elves.wallpaper.model.Wallpaper">
        select * from wallpaper
        where title LIKE concat('%',#{keyword},'%') or category LIKE concat('%',#{keyword},'%')
    </select>
    <select id="rankListByHits" resultType="com.elves.wallpaper.model.Wallpaper">
        SELECT
            id,
            title,
            description,
            category,
            thumbnail_url,
            file_url,
            hits,
            create_time
        FROM wallpaper
        order by hits desc
    </select>

    <!-- 插入新壁纸 -->
    <insert id="insertWallpaper" parameterType="com.elves.wallpaper.model.Wallpaper">
        INSERT INTO wallpaper (
            title, description, category, thumbnail_url, file_url, hits, create_time,
            unsplash_id, photographer, photographer_url, download_url, source_url, width, height, color
        ) VALUES (
            #{title}, #{description}, #{category}, #{thumbnailUrl}, #{fileUrl}, #{hits}, #{createTime},
            #{unsplashId}, #{photographer}, #{photographerUrl}, #{downloadUrl}, #{sourceUrl}, #{width}, #{height}, #{color}
        )
    </insert>

</mapper>